    {% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <link rel+"stylesheet" href="../../static/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="utf-8">
    <title>Puckter</title>
  </head>
  <body class="blue-grey lighten-5">
    <nav class="orange darken-4">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Puckter</a>
  </div>
</nav>
    <div class="container">
      <div class="row" >
        <div id="top_input">

        </div>
        <!-- <div class="input-field">


        <input type="text" class="col s10" name="" id="new_task_title" placeholder="Your Task Here">
        <a href="#" class="btn red col s2" id="submit_new_task" onClick="add_item()">Add Task</a>
                </div> -->
      </div>
      <div class="row">
        <div class="col s12" id="main_list">

        </div>
      </div>

    </div>



  </body>
  {% render_bundle 'main' %}
</html>
